/*
 * Variables
 */
$controlboxheight: 40px;
$margin: 2px;
/*
 * Rich Editor Main
 */
.rich-editor-view {
}
.rich-editor-view .controlbox {
  margin: $margin;
  height: $controlboxheight;
  border-width: 1px;
}
.rich-editor-view .button {
  width: $controlboxheight;
  height: $controlboxheight;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.rich-editor-view .editbox {
  margin: $margin;
  border-width: 1px; 
  overflow: scroll;
} 
.rich-editor-view .textareadiv {
  width: 100%;
  top: 0px;
  bottom: 0px;
  resize: none;
}