/*
 * Variables
 */
$controlboxheight: 30px;
$controlboxmargin: 5px;
$widthsidebar: 200px;
$background: #F5F5F5;
$contrast: rgba(0, 0, 0, 0.1);
/*
 * Rich Editor Toolbar
 */
.rich-editor-view {
  background: $background;
}
.rich-editor-view .toolbar {
  margin: $controlboxmargin;
  height: $controlboxheight;
  border-width: 1px;
}
.rich-editor-view button {
  height: $controlboxheight;
  min-width: $controlboxheight;
  padding: 0 $controlboxmargin - 1px;
  margin: 0;
  overflow: hidden;
  text-align: center;
  
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  background: $background;
  cursor: pointer;
}
.rich-editor-view button.selected {
  border: 1px solid yellow;
}
.rich-editor-view .seperator {
  height: $controlboxheight;
  width: 1px;
  margin: 0px $controlboxmargin;
  background: $contrast;
}
.rich-editor-view button:hover {
  border: 1px solid $contrast;
}
.rich-editor-view .bold{
  font-weight: bold;
}
.rich-editor-view .italic{
  font-style: italic;
}
.rich-editor-view .underline{
  text-decoration: underline;
}
/*
 * Rich Editor Editor
 */
.rich-editor-view .textareadiv {
  position: absolute;
  top: $controlboxheight + 2 * $controlboxmargin;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 3px;
  resize: none;
  overflow: scroll;
}
/*
 * Title Dropdown
 */
.page-head .overlay-container-class {
  width: $widthsidebar - $controlboxheight;
  font-size: 13px;
}
.page-head .logo-dropdown button{
  text-align: left;
  width: 100%;
}
/*
 * Settings Dropdown
 */
.page-head .settings-overlay {
  width: $widthsidebar;
}


