/*@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'fontawesome';
	src: url(data:application/x-font-ttf;charset=utf-8;base64,AQ0KgANQRkZUTWbAnNgUmBxHREVGRAYUeCBPUy8yPuLbowFYVmNtYXCjJcY7AgwBkmdhc3D//wMUcAhnbHlmeKyaFQPQDQr4aGVhZP42baPcNmhoZWEDiv/4ARQkaG10eB6VAwGwXGxvY2EjkiegA6AwbWF4cGiAATggbmFtZcSqdQYRyAG2cG9zdBt5EhUTgPABAeRPLlpfDzz1CwHAzpuW086bltP/wAHgAYAIAgEBgP/AKAHg/kAB 4AEXARd9DwIBAUABAXwBkAUIASMBOT4BIwE51xZzAgUDEFBmRWRA8PDdAYD/wCgBgECAAQHAlQHAAcABwAHAAaABYAEBwAHAAwHAAYABAQHgAQEBgAGAAaADAxwBjAMBHARwFhADBvDwM/A58D7wQ/Bz8M3w1/Dd///w8DHwNvA+8EDwc/DK8Nfw3f//EAMP1w/OD9MPow9BDzgPMwEMFBMVEgEGAQECAgEOaMABGAFwAeYCdALeA0QD 6AR2BRgFMgVMBZQF2AYGPAZgBvwB/8ABwAGAAhEBIQHA/kABgP5ABAHAAWAPHy8/JRUUBiMhIiY9ATQ2MyEyFicVFAYjISImPQE0NjMhMhY3FRQGIyEiJj0BNDYzITIWJxUUBiMhIiY9ATQ2MyEyFgHADQoG/mAGDQoNCgYBoAYNCmANCgb+wAYNCg0KBgFABg0KQA0KBv6ABg0KDQoGAYAGDQpgDQoG/uAGDQoNCgYBIAYNCjAgBg0K DQoGIAYNCg0KWiAGDQoNCgYgBg0KDQpaIAYNCg0KBiAGDQoNClogBg0KDQoGIAYNCg0KBAHAAWAPHy8/JRUUBiMhIiY9ATQ2MyEyFicVFAYrASImPQE0NjsBMhY3FRQGIyEiJj0BNDYzITIWJxUUBisBIiY9ATQ2OwEyFgHADQoG/mAGDQoNCgYBoAYNCmANCgbgBg0KDQoG4AYNCkANCgb+oAYNCg0KBgFgBg0KYA0KBqAGDQoNCgag Bg0KMCAGDQoNCgYgBg0KDQpaIAYNCg0KBiAGDQoNClogBg0KDQoGIAYNCg0KWiAGDQoNCgYgBg0KDQoEAcABYA8fLz8lFRQGIyEiJj0BNDYzITIWNRUUBiMhIiY9ATQ2MyEyFjUVFAYjISImPQE0NjMhMhY1FRQGIyEiJj0BNDYzITIWAcANCgb+YAYNCg0KBgGgBg0KDQoG/sAGDQoNCgYBQAYNCg0KBv6ABg0KDQoGAYAGDQoNCgb+ 4AYNCg0KBgEgBg0KMCAGDQoNCgYgBg0KDQpaIAYNCg0KBiAGDQoNClogBg0KDQoGIAYNCg0KWiAGDQoNCgYgBg0KDQoEAcABYA8fLz8lFRQGIyEiJj0BNDYzITIWNRUUBiMhIiY9ATQ2MyEyFjUVFAYjISImPQE0NjMhMhY1FRQGIyEiJj0BNDYzITIWAcANCgb+YAYNCg0KBgGgBg0KDQoG/mAGDQoNCgYBoAYNCg0KBv5gBg0KDQoG AaAGDQoNCgb+YAYNCg0KBgGgBg0KMCAGDQoNCgYgBg0KDQpaIAYNCg0KBiAGDQoNClogBg0KDQoGIAYNCg0KWiAGDQoNCgYgBg0KDQoC/+ABoAFgCVE3BzIWMjsBJicmAyM1Njc2NzY/AjsBHwEWFxYXFhcWFxYXFjMWFxYVFBUiJyYjIiMPATQ/ATY3NjQvAiMGBwYVFBcWFzAeATMWFRQHIicHBrUqEigTBAcIDw0KugUGDhcFBQc7 RhMNCgMzGgUNCg4HCQYLBQQFDAsOAhQcGBgTDjIPASEOAwMCCxdxBxMFBAYUBgkFAQEQRwwU9HABGCUg/xQCAgQEBA0KmrUFeD0OGSEPGhEUDQoCBQIFDQoFAwMCAgMBDAgHAwIEBwQdORA0EAUIAwUDAQIHCAQDBgIEA//gAWABYBMlZTcWMzI2NzY1NCcmJyYjIgcdARcUJxYzMjY1NCcmIyIHFBcWBxUUBzU2MzY3Njc2NScmJzQn NCcmJyIvAT8BMzoBMzAyOwEyFxYXFhceARUUBgcGBxYXFhUUBwYHBgcGBwYjJyIHBosTECArCQ0KDQoPFRQqEgcBAQsQLC0VFioNChQBAgGHDAYTCwQCAgEBAQMDBA0KCBQCQl4MAQUBDQoFExYZCw0KDwsLCxAQBx8sFxcHBQ0KERISIRQdMhQ2CAQIFBISHBwQGAgIAiQsQwSzAiEoHBMSAwsIHycYC+cYAgQEBwYRIHxAJRUGAQID AQMVAQQHAwcHDAwcEBIdCwYODQoaGyATFg8OEgkJBgMCAwEB/+ABAWBKFTcyNzY3Nj8DPgQ1PwM1JicHFzIzMjc+ATEUBwYHBgcGBwYHBhUGDwQUFxYXFhcUBwYHIgciIyInJi8BIgcGBAETEg0KCAMHDgICBQMDAgcEBgINChoHAwVPDQoIESUIEgIBAg0KDhAJAwMDDAUPDQoNCgQBEA0KBwIBAQUBBgQDBAUfMg0KIhIgFgUFBA0K ECJEEA0KFQ0KBQEnDyINCgkGAQEaBAIBAQUFBwUFAwQECA4LCTIbTSg7CwIFAwIBAQgHCAIBAQEDAQMCBv/wAcABUAcPHyc3RzYUBiImNDYyNhQGIiY0NjIFFRQGIyEiJj0BNDYzITIWJBQGIiY0NjIFFRQGIyEiJj0BNDYzITIWNRUUBiMhIiY9ATQ2MyEyFmAcKBwcKBwcKBwcKAF8BQP+0AMFBQMBMAMF/qAcKBwcKAF8BQP+0AMF BQMBMAMFBQP+0AMFBQMBMAMFNCgcHCgcZCgcHCgcmDADBQUDMAMFBfkoHBwoHJgwAwUFAzADBQV9MAMFBQMwAwUFBgP/wAHAAX4ePCYjNjU1MzM7TFxsfBcUBiMiJzcWMzI2NTQHJz4CNzEiBiMVIzUzFQceATcVIyY1ND4DNTQmIyIHJz4BMzIWFRQOAhUzNQUVFAYjISImPQE0NjMhMhYlFSM1MzwBPQExBgcnNzMVBRUUBiMhIiY9 ATQ2MyEyFjUVFAYjISImPQE0NjMhMhZfGxQbEA4MDwcLGwYCDAkFBBEEGlMXDA8BWwEMEBAMBwYMCRUGGA8SGREVESABegUD/tADBQQEATADBf6gVBsCCxIiGwF7BQP+0AMFBAQBMAMFBQP+0AMFBQMBMAMFFRQXEBYLBwgQAg4CEQ0KBQENCiYWHQMSkCgJBQwVDQoLCwYGBw8PDQoOFRENChULDgYPUDADBQUDMAQEBd4ZGQ0KKQ0K AgQJEyBlYTADBQUDMAQEBX0wAwUFAzADBQUD/+ABwAFgDzRkJTIWHQEUBiMhIiY9ATQ2MzcmJyY1NDc2MzIXFhcWFxYVFA8BJyMmJyYjIgcGFRQWFxYXFhcHMxYVFAcGBwYHBgcGIyIvASYnJj0BNDUmNz0BMx4CFxYXFhcWMzI3Njc2NTQnJgG4BAQEBP5QBAQEBHEHBgwiIUEMHhAcAgMDAQMVAw0KDQoWHh0RESE2ERoOCTpmAg0K BgwJEhQTFB4dFCMOBAIBARoDCAMCCAwNChAPEhATEwsMFAmgBAQQBAQEBBAEBBAJCxgXLSAgBQMJCRQfDwQHAQIlDhcPDhYTIQ8GCwcGQA0KDQocGQ4MCQsMBQUGDQoEAwIDBBoMCA0KCQsIEwkCDg0KCQUGBwcPDxEVEggC/+ABgAFgY3MTJiMnNjMyFxYzMjcyNzIzBxcVBiMiBwYVHAEdARcWFxYXFjMyNzY3Njc2NzY1NC4BLwEm JyYrAjczFxY3MxYVFAcGIwYHBhUUFhUWFxYHBgcGBwYHBiMiJyYnJicmPQE0JyYBNTQmIyEiBh0BFBYzITI2DAkCAQMHDw0KIQkVFRwIDggBAQ8QDwUDBAELCQ8WFxoVDgsMBQgFBQIEAQEBBQgLGQQBFTMTHgQCAQsNChICBAECBAEFBAYNChITGxskKh4dDxAFBAQHAVYEBP6QBAQEBAFwBAQBSAEWAQIBAQEDEAIDBgMeAw0KATpG HxMPCAwHBAkJBw4OEyYUGSUVDxAGCBYCAQMNCgMCBgMDAQQHAQ0KAwVeMRsTDBAPDggIDAsTEx4UJ1MvBg0K/qAQBAQEBBAEBAQBUAHgDQokFA8BBiIvASY0NjsBMgEFcAUMBXAFDQoG4AbWDAVwBQVwBQwNCgH/8AGADQokFA8BBiIvASY0NjsBMgEFcAUMBXAFDQoG4AZ2DAVwBQVwBQwNCgT/4AHgAWAHDh4uEhQGIiY0NjIFFSE1 Nxc/ASEiBhURFBYzITI2NRE0JhcRFAYjISImNRE0NjMhMhagHCgcHCgBHP6gUCiAgP5wAwUFAwGQAwUFJRgQ/nAQGBgQAZAQGAEEKBwcKByQcDBQKIBIBQP+0AMFBQMBMAMFCP7QEBgYEAEwEBgYAgEBcBUtNzQnNC4CJyYiBw4DFQYVFBYyNjcUBiImNTQ3PgM3PgEyFhceAxcWgAUHBgcCAQgBAgcGBwUTGhOAS2pLFAIcFhwHAg0K DA0KAgccFhwCFGAJCAENCggOBgQEBg4IDQoBCAkNChMTLTVLSzUkIQIpIjcXCAgICBc3IikCIAL/4AEBYAcXNjQmIgYUFjI3FA8BDgEiJi8BJjU0NjIWwCY0JiY0ZghbBBASEANcCEtqS8Y0JiY0JkAbEsEIDQoNCgjBEhs1S0sE/+ABewFbBhQZJTM3JwcVMxU3NCMiDwEGFRQzMj8BNicXByM1JRQPASc3NjMyHwEWWxc7FyCeBgIC iAIGAgKIAg5o0GgBewkqaCoIDg0KOwkXOxcbIOgGAogCAgYCiAIyaNBouA0KCSpoKQ0KDQo6DQoC/+ABgAFgBxM3ESIOARQeATYUDgEiLgE0PgEyFsAlPyQkP+U0WGhYNDRYaFgYARAkP0o/JLxoWDQ0WGhYNDQP/8ABoAGAAwcLDxMXGx8jMzc7P09zFzM1IxczNSMnMzUjFzM1IyczNSMTMzUjJzM1IxMzNSMnMzUjJzU0JisBIgYd ARQWOwEyNhczNSMnMzUjFzM1Izc1NCYrASIGHQEUFjsBMjY3ERQGIyEiJjURNDY7ATU0NjsBMhYdATM1NDY7ATIWHQEzMhYgSEhYUFBYSEhYUFBYSEi4UFBgUFDASEhgUFBYBQMQAwUFAxADBbhISGBQUGBISAgFAxADBQUDEAMFYBMNCv6gDQoTEw0KIBgQEBAYYBgQEBAYIA0KEyBISEgQUFBQEEj/SHBI/0gQUIhIAwUFA0gDBQXV UBBISEgwSAMFBQNIAwUFE/7ADQoTEw0KAUANChMYEBgYEBgYEBgYEBgTDJYBAQsYAQIHNAEDJ4wBBAvMAQUL8AEGCwEUAwEECQEWAwEECQIOJAMBBAkDTjwmIzY1NTMzOwMBBAkEFrQDAQQJBRbYAwEECQYW/GZvbnRhd2Vzb21lZm9udGF3ZXNvbWVSZWd1bGFyUmVndWxhckZvbnRGb3JnZSAyLjAgOiBmb250YXdlc29tZSA6IDMt MTEtMjAxM0ZvbnRGb3JnZSAyLjAgOiBmb250YXdlc29tZSA6IDMtMTEtMjAxM2ZvbnRhd2Vzb21lZm9udGF3ZXNvbWVWZXJzaW9uIDEuMFZlcnNpb24gMS4wZm9udGF3ZXNvbWVmb250YXdlc29tZQIXAQIBAgEDAQQBBQEGAQcBCAEJAQ0KAQsBDAENCgEOAQ8BEAERARIBEwEUARUHdW5pRjAwMAd1bmlGMDM2B3VuaUYwMzcHdW5p RjAzOAd1bmlGMDM5B3VuaUYwMzEHdW5pRjAzMgd1bmlGMDMzB3VuaUYwQ0EHdW5pRjBDQgd1bmlGMENDB3VuaUYwQ0QHdW5pRjBENwd1bmlGMEREB3VuaUYwM0UHdW5pRjA0Mwd1bmlGMDQxB3VuaUYwNDAHdW5pRjA0Mgd1bmlGMDczAf//AgEOGAIBAxYBBAIByYlvMc6bltPOm5bT) format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class*="icon-"] {
	font-family: 'fontawesome';
	content: attr(data-icon);
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/*Better Font Rendering ===========*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-align-left:before {
	content: "\f036";
}
.icon-align-center:before {
	content: "\f037";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-font:before {
	content: "\f031";
}
.icon-bold:before {
	content: "\f032";
}
.icon-italic:before {
	content: "\f033";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-picture:before {
	content: "\f03e";
}
.icon-tint:before {
	content: "\f043";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-calendar:before {
	content: "\f073";
}
